.footer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#D9CEB5;
    height: 70vh;
    
}


.footer-top {
    background-color:#D9CEB5;
     border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    height: 15%;
}

h3.info {
    font-size: 2rem;
    color: #ffff;
}

.redes {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.redes p {
    color: #ffff;
    font-size: 1.2rem;
}

.icons-redes img {
  width: 25px;      
  height: 25px;
  filter: grayscale(2) brightness(2) invert(2);
  transition: filter 0.3s;
}

.icon {
    width: 30px;      
    height: 30px;
}

.footer-container {
    display: flex;
    background-color: var(--footer-background);
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

     position: relative;
  background: linear-gradient(
    to top right,
    #7b3a18 0%,
    #7b3a18 50%,
    #A05A35 50%,
    #A05A35 100%
  );
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  color: white;
  padding: 3rem;
}



.footer-social, .footer-informacion  {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    line-height: 2;
    color: #ffffff;
}

.footer-social h3 {
    font-size: 1.5rem;
}


.footer-informacion  h3 {
    font-size: 1.5rem;
}



.footer-text {
    background-color: var(--footer-background);
    display: flex;
    justify-content:space-around ;
    padding: 1rem;
    color: #ffffff;
}

.raya {
    height: 1px;
}

.footer-icons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 768px) {
    .footer {
        margin-top: 20px;
    }

    h3.info {
        font-size: 1.5rem;
    }

    .icon {
        width: 25px;      
        height: 25px;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 1rem 0;
    }

    .footer-social, .footer-informacion {
        align-items: center;
    }

    .footer-social h3, .footer-informacion h3 {
        font-size: 1rem;
    }

     .footer-informacion p {
        font-size: 0.9rem;
     }

    .footer-icons {
        flex-direction: row;
    }

    .footer-top {
        flex-direction: column;
        height: auto;
        gap: 1rem;
    }

    .footer-text {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .footer-text p {
        font-size: 0.9rem;
    }
}



