.header {
  position: relative;
}

.section {
    background: var(--color-accent);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    border-radius: 30px;
}

.header-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1rem 0;
}

.box-logo{
  cursor: pointer;
}

.logo {
    border: 3px solid var(--color-secondary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.navigation ul {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navigation li {
    list-style: none;
}

.navigation a {
    text-decoration: none;
    color: var(--color-header);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.705);
    padding: 0.75rem;
    border-radius: 20px;
}

.navigation a:hover {
    background-color: #9dff89;
    color: #096406;
    transition: 0.3s;
}

.separador {
    background: var(--color-background);
    height: 37px;
    width: 1px;
}

.background-image img {
    width: 100%;
    object-position: center;
    max-height: 100%;
}

.custom-select {
  position: relative;
  font-family: sans-serif;
  cursor: pointer;
  
}

.link-pages {
  text-decoration: none;
   color: var(--color-link);
}

.custom-select .selected {
  display: flex;
  align-items: center;
  padding: 5px;
  background: transparent;
}

.spanish, .english {
  width: 20px;
}

.material-symbols-outlined {
  color: white;
}

.custom-select .options {
  display: none;
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  z-index: 10;
}

.custom-select .options div {
  display: flex;
  align-items: center;
  padding: 5px;
}

.custom-select .options div img {
  width: 20px;
  margin-right: 8px;
}

.custom-select.active .options {
  display: block;
}

.menu, .movil {
  display: none;
}



@media (max-width: 930px) {
     .section {
      display: none;
     }

     .movil {
      flex-direction: column;
      height: 100vh;
      width: 100%;
      position: absolute;
      inset: 0;
      justify-content: flex-start;
      height: 100vh;
      position: fixed;
      z-index: 9999;
      display: none;
      border-radius: 0;
     }

     .active {
      display: flex;
     }

     .navigation-movil ul {
      display: flex;
      flex-direction: column;
      gap: 8rem;
      padding: 0;
      margin: 0;
      
    }

    .box-image {
      display: flex;
      width: 100%;
      justify-content:space-around;
      gap: 2rem;
      align-items: center;
      margin: 40px 0 50px 0;
    }

    .menu {
      display: flex;
      justify-content: flex-end;
    }
    .icon-menu {
      width: 40px;
      height: 40px;
      margin: 1rem;
      cursor: pointer;
      background-color: var(--color-primary);
    }
    
}