.card-information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-conteiner {
    position: relative;
     display: flex;
     flex-direction: column;
     width: 100%;
}

.background-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 20px
}

.card-history {
    width: 600px;
    border: 1px solid var(--color-accent);
    background-color: var(--color-accent);
    padding: 1rem;
    color: #ffffff;
    line-height: 1.5;
    border-radius: 20px;
    position: absolute;
    top: 50px;
    gap: 1rem;
    left: 50px;
}


.card-history p {
    font-weight: 300;
    text-align: center;
}

.subtitulo {
    line-height: 3;
    margin-bottom: 1rem;
    text-align: center;
}

.subtitulo::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-background);
}

.btn-icons {
    width: 30px;
    height: 30px;
    border: 2px solid var(--color-background);
    padding: .5rem;
    border-radius: 100%;
    cursor: pointer;
}


.slider-controls img:hover{
    background-color: var(--color-primary);
    transition: .3s;
}

.card-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
}



.btn-history {
    padding: 1rem 1.5rem;
}

.btn-history:hover {
    background-color: var(--color-background);
    color: var(--color-accent);
    font-weight: 600;
    transition: .3s;
}

.slider {
    position: relative;
    width: 100%;
    margin: auto;
}

.cards-wrapper {
    position: relative;
}

.card-conteiner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.9s ease, transform 0.9s ease;
    pointer-events: none;
}

.card-conteiner.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    position: relative;
}

.card-history {
    z-index: 1;
}

.gastro {
  background-color: #D1B16F;
  border: #D1B16F;
  color: #53472e;
}

.gastro .btn-history, .eat img {
  background-color: rgba(83, 71, 46, .5);
  color: #ffffff;
  border: none
} 

.gastro .btn-history:hover, .eat img:hover {
  transition: .8s;
  background-color:rgba(83, 71, 46, .8) ;
}

.cultura {
  background-color: #507C91;
}

.cultura .btn-history, .cultu img {
  background-color:rgba(46, 66, 83, 0.5);
  color: #ffffff; 
  border: none
}

.cultura .btn-history:hover, .cultu img:hover {
   transition: .8s;
  background-color:rgba(46, 66, 83, 0.8)
}

@media (max-width: 768px) {

    .card-history {
        width: 90%;
        left: 5%;
        top: 118px;
        font-size: 14px;
        box-sizing: border-box;
        height: 54vh;
    }

    .card-history-scroll {
        overflow-y: auto;
        padding-right: .5rem;
        max-height: 30vh;
    }

    .card-btn {
      position: sticky;
      bottom: 0;
      margin-top: 1rem;
    }

    .subtitulo {
        font-size: 18px;
    }

    .background-image {
        object-fit: cover;
        /* height: 70vh; */
    }
    img.background-image.image-card {
        height: 70vh;
    }
}



